@use "../helpers" as *;

.checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: rem(10);
  color: var(--color-light);

  @include laptop {
    column-gap: rem(6);
  }

  @include hover {
    color: var(--color-accent);

    .checkbox__input {
      border-color: var(--color-accent);
    }
  }

  &__input {
    appearance: none; // castom checkbox

    --size: #{rem(28)};
    border: var(--border);
    border-radius: rem(4);
    margin: 0;
    background-color: var(--color-dark-10);

    @include flex-center;
    @include square(var(--size));

    @include laptop {
      --size: #{rem(24)};
    }

    &:not(:checked) {
      &::after {
        @include hide;
      }
    }

    &:user-invalid {
      border-color: var(--color-accent);
    }

    &::after {
      content: "✔";
      color: var(--color-accent);
      transition-duration: var(--transition-duration);
    }
  }
}
