@use "../helpers" as *;

.download-info {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: rem(50);

  @include laptop {
    column-gap: rem(30);
  }

  &__team {
    --personImgSize: #{rem(50)};

    background-color: var(--color-dark);
    border-radius: rem(12);
    border: none;

    @include laptop {
      --personImgSize: #{rem(40)};
    }
  }
}
